<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quick Search</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

<div class="box">
<h1>Quick Search</h1>

    <div class="searchbox">
        <form action="/web/getByDescription/0" method="post">
            <input type="text" name="keyword" id="keyword">
            <input type="submit" value="click to search">
        </form>
    </div>

    <div class="reg-content">
        <a th:href="@{/user}">Login/Register</a>
        <br class="clear">
    </div>

    <div class="reg-content">
        <a th:href="@{/user/index}">User Setting</a>
        <br class="clear">
    </div>

    <br>
    <div class="reg-content">
        <a th:href="@{/admin/login}">Admin Login</a>
        <br class="clear">
    </div>






</div>


</body>
</html>